*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

body{
  overflow-x: hidden;

}


.bubble{
  position: absolute;
  z-index: -2;
  background: linear-gradient(to right top, #f46b45, #eea849);
  transform: scale(2);
}

nav{
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to top left, #659dbd, #5aaaae, #7cb192, #adb27f, #daad86);
  height: 8vh;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 45%;
}
.nav-links li{
  list-style: none;
  display: inline-block;
}
.nav-links a{
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 12px;
  
}

nav ul{
  overflow: hidden;
  transition: 1s;
}
.burger{
  display: none;
}

.burger div{
  width: 20px;
  height: 3px;
  background-color: #fff;
  margin: 3px;
  transition: all 0.3s ease;
}

@media screen and (max-width:500px) {
  .nav-links{
    width: 60%;
  }
}

@media screen and (max-width:1024px) {
  .nav-links{
    width: 60%;
  }
}

@media screen and (max-width:768px) {
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 5vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #659dbd, #5aaaae, #7cb192, #adb27f, #daad86);
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  body{
    overflow-x: hidden;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
    cursor: pointer;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px);
}

/* SECTION ID MODS IN ORDER OF OCCURRENCE */
/* First section */
#home{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
    color:#ffffff;
}
.SLIDE_BG {
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    background-attachment: fixed;
    animation: slideBg 30s linear infinite 0s;
    animation-timing-function: all 0.8s ease-in-out;
    background-image: url(images/slideshow/background.jpg)
}@keyframes slideBg {
    0% {
    background-image: url(images/slideshow/5.jpeg);
    }
    20% {
        background-image: url(images/slideshow/2.jpg);
        }
        25% {
            background-image: url(images/slideshow/3.jpeg);
            }
            50% {
                background-image: url(images/slideshow/4.jpg);
                }
                75% {
                    background-image: url(images/slideshow/5.jpeg);
                    }
                    100% {
                        background-image: url(images/slideshow/6.jpg);
                        }

}
.call-to-action{
    text-align: center;
    justify-content:center;
    color:#fff;
    display: flex;
    padding: 20%;
    align-items: center;
}

.second-text{
  text-align: center;
}

.big-heading{
    font-size: 60px;
    font-family: 'Merriweather Sans', sans-serif;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.explore-button{
    background-color: #1493dc;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}
.explore-button:hover{
    background-color:#FFD700;
    color: #000000;
    justify-content: center;
}


/* Second section */

#second-section{
    color: #ffffff;
    overflow-x: hidden;
    height: 100%;
    background-image: linear-gradient(to right bottom, #7cb192, #adb27f, #daad86,#659dbd, #5aaaae);
    background-repeat: no-repeat;
}
 /* suggestion card carousel */

 .card{
  width: 20rem;
}
.card-img-top {
  display: flex;
  height: 30vw;
  object-fit:cover;
}

.suggest-cards{
  margin: 0 15% 15%;
}
.tour-suggest{
  padding: 5% 0 0 0;
  text-align: center;
  justify-content: center;
}

.card-img-overlay{
  /* position: absolute; */
  top: 80%;
  text-align: center;
  padding-bottom: 5%;
  color:#fff;
}

.card-text{
  line-height: 1.5%;
}
.controls-top{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

.carousel-item-active{
  transition: all 0.2s ease-in-out;
}

/* CLASSES IN SECOND SECTION */



/* RATING SECTION */

.rating-section .stars-counters tr .stars-filter.fit-button {
    padding: 6px;
    border: none;
    color:#FFD700;
    text-align: left;
}
.rating-section .fit-progressbar-bar .fit-progressbar-background {
    position: relative;
    height: 8px;
    background: #efeff0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    box-shadow: 0 1px 2px #ffffff;
    background-color: #ffffff;
   ;
    border-radius: 999px;
}
.rating-section .stars-counters tr .star-progress-bar .progress-fill {
    background-color: #ffb33e;
}
.rating-section .fit-progressbar-bar .progress-fill {
    background: #2cdd9b;
    background-color: rgb(29, 191, 115);
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    border-radius: 999px;
}
.rating-section .fit-progressbar-bar {
    display: flex;
    align-items: center;
}
.rating-section .stars-counters td {
    white-space: nowrap;
}
.rating-section .stars-counters tr .progress-bar-container {
    width: 100%;
    padding: 0 10px 0 6px;
    margin: auto;
}
.ranking h6 {
    font-weight: 600;
    padding-bottom: 16px;
    text-align:right;
}
.ranking li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding-bottom: 8px;
}
.rating-section .stars-counters td.star-num {
    color: #ffffff;
}
.rating-section {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 20px;
    margin-bottom: 34px;
    /* padding-top: 64px; */
}

.text1{
   padding-top: 2%;
   text-align: center;
   font-size: 15px;
}

.text-display-7, .m-0{
   color: #ffffff;
}
/* END OF RATING */

/* Third Section Start */

#third-section{
    background-image: linear-gradient(to right bottom, #659dbd, #5aaaae, #7cb192, #adb27f, #daad86);
    padding-top: 1px;
}

/* REVIEW LIBRARY GTCO */
.gtco-testimonials {
    position: relative;
  }
  .gtco-testimonials h2 {
    font-size: 30px;
    text-align: center;
    color: #333333;
    margin-bottom: 50px;
  }
  .gtco-testimonials .owl-stage-outer {
    padding-bottom: 3%;
  }
  .gtco-testimonials .owl-nav {
    display: none;
  }
  .gtco-testimonials .owl-dots {
    text-align: center;
    /* padding-bottom: 5%; */
  }
  .gtco-testimonials .owl-dots span {
    position: relative;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: block;
    background: #fff;
    border: 2px solid #01b0f8;
    margin: 0 5px;
  }
  .gtco-testimonials .owl-dots .active {
    box-shadow: none;
  }
  .gtco-testimonials .owl-dots .active span {
    background: #01b0f8;
    box-shadow: none;
    height: 12px;
    width: 12px;
    margin-bottom: -1px;
  }
  .gtco-testimonials .card2 {
    background: #fff;
    /* box-shadow: 0 8px 30px -7px #c9dff0; */
    margin: 0 10px;
    padding: 0 10px;
    border-radius: 20px;
    border: 0;
    
  }
  .gtco-testimonials .card2 .card2-img-top {
    max-width: 100px;
    border-radius: 50%;
    margin: 15px auto 0;
    box-shadow: 0 8px 20px -4px #95abbb;
    width: 100px;
    height: 100px;
    
  }
  .gtco-testimonials .card2 h5 {
    color: #01b0f8;
    font-size: 21px;
    line-height: 1.3;
  }
  .gtco-testimonials .card2 h5 span {
    font-size: 18px;
    color: #666666;
  }
  .gtco-testimonials .card2 p {
    font-size: 18px;
    color: #555;
    padding-bottom: 15px;
    
  }
  .gtco-testimonials .active {
    opacity: 0.4;
    transition: all 0.3s;
  }
  .gtco-testimonials .center {
    opacity: 1;
  }
  .gtco-testimonials .center h5 {
    font-size: 24px;
  }
  .gtco-testimonials .center h5 span {
    font-size: 20px;
  }
  .gtco-testimonials .center .card2-img-top {
    max-width: 100%;
    height: 140px;
    width: 140px;
  }
  
  @media (max-width: 767px) {
    .gtco-testimonials {
      margin-top: 20px;
    }
  }
  .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    outline: 0;
  }
  .owl-carousel button.owl-dot {
    outline: 0;
  }

  .third-section-text{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    margin: 5% 0;
    color: #ffffff;
    text-transform: uppercase;
    z-index: 999;
}

/* */

/* Fourth Section */
#fourth-section{
    padding: 4%;
}
/* .motivational-section{
    display: flex;
    position: relative;
    justify-content: space-evenly;
} */

.motivational-text{
    margin: 5% 0;
    background-color: #2ca0d5;
    color:#ffffff;
    align-items: center;
    text-align: center;
  
}

.booking-button{
    margin-top: 5px;
    border-radius: 60px;
    justify-content: center;
    cursor: pointer;
    font-size: 15px;
    color: #ffffff;
    background-color: #dc143c;
}

.booking-button:hover{
    background-color:#FFD700;
    color: #000000;
}
/* Fourth Section End */

/* PHOTO card2 */
.wrapper {
  margin: 10vh;
}

.card2 {
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  border-radius: 20px;
  min-height: 450px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .card2 {
    min-height: 350px;
  }
}
@media (max-width: 420px) {
  .card2 {
    min-height: 300px;
  }
}
.card2.card2-has-bg {
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center center;
}
.card2.card2-has-bg:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
.card2.card2-has-bg:hover {
  transform: scale(0.98);
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
  background-size: 130%;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.card2.card2-has-bg:hover .card2-img-overlay {
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  background: #234f6d;
  background: linear-gradient(0deg, rgba(4, 69, 114, 0.5) 0%, #044572 100%);
}
.card2 .card2-footer {
  background: none;
  border-top: none;
}
.card2 .card2-footer .media img {
  border: solid 3px rgba(234, 95, 0, 0.3);
}
.card2 .card2-meta {
  color: orange;
}
.card2 .card2-body {
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.card2:hover {
  cursor: pointer;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
.card2:hover .card2-body {
  margin-top: 30px;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
.card2 .card2-img-overlay {
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  background: #234f6d;
  background: linear-gradient(0deg, rgba(35, 79, 109, 0.3785889356) 0%, #455f71 100%);
}



.gradient-line{
  width: 13vw;
  border: 10px solid #daad86;
  border-style:10px solid #daad86;
  text-decoration:none;
  margin: 0;
  padding: 0;
}
.offer-section{
  margin: 0 5% 10%;
}
.offer-section-left{
  padding-left: 2%;
}



/* multicolored cards */
.image-round{
  max-width: 100%;
  height: 220px;
  width: 220px;
  border-radius: 50%;
}

.multi-cards-section{
  justify-content: center;
  text-align: center;
}

.multi-cards-section h6{
  padding-top: 5%;
  font-size: small;
  text-align: center;
}
.bottom-multi-card{
  margin-bottom: 10%;
}

/* NEWSLETTER SECTION */
.newsletter {
  padding: 3%;
}

.section-content{
  background: #19beda;
  padding: 3%;
  margin-bottom: 5%;

}
  
  .newsletter .content {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2; }
  .newsletter .content h2 {
  color: #ffffff;
  margin-bottom: 40px; }
  .newsletter .content .form-control {
  height: 50px;
  border-color: #ffffff;
  border-radius:0;
  }
  .newsletter .content.form-control:focus {
  box-shadow: none;
  border: 2px solid #243c4f;
  }
  .newsletter .content .btn {
  min-height: 50px; 
  border-radius:0;
  background: #243c4f;
  color: #fff;
  font-weight:600;
  }
