/* .search-box{
    position: absolute;
    display: flex;
    justify-content: right;
    top: 50%;
    left: 50;
    transform: translate(-50%,-50%);
    background: #2C3441;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover > input {
    width: 200px;
    padding: 0 10px;
}

.search-box:hover > .icon{
    background: #536179;
}
.icon:hover{
    transform: rotate(360deg)scale(0.8);
}
input{
    width: 0;
    border: none;
    outline: none;
    padding: 0;
    background: none;
    font-size: 1.1rem;
    transition: 0.5s ease;
    line-height: 30px;
    color: #fff;
}

.icon{
    color: #21DFCD;
    float: right;
    width: 40px;
    font-size: 1.3rem;
    height: 25px;
    border-radius: 70%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
} */

#second{
    background-color: #063970;
}
#title{
    background-color:#063970;
    color: #fff;
    text-align: center;
}

.call-to-action{
    text-align: center;
    justify-content: center;
    color:#fff;
    padding-top: 15%;

}

#features{
    justify-content: center;
    position: relative;
    background-color: #fff;
    text-align: center;
    padding: 7% 15%;
    text-decoration: none;
}

.feature-box{
    padding: 5%;
} 

.big-heading{
    font-weight: bolder;
    text-align: center;
    align-items: center;

}

/* .second-text{
    animation:both;
    animation-timing-function: ease-in-out;
} */

#SLIDE_BG {
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slideBg 20s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-image: url(images/background.jpg)

}@keyframes slideBg {
    0% {
    background-image: url(images/bg3.jpg);
    }
    25% {
        background-image: url(images/bg2.jpg);
        }
        50% {
            background-image: url(images/bg3.jpg);
            }
            75% {
                background-image: url(images/bg2.jpg);
                }
                100% {
                    background-image: url(images/bg3.jpg);
                    }

}

/* RATING SECTION */

.rating-section .stars-counters tr .stars-filter.fit-button {
         padding: 6px;
         border: none;
         color:#FFD700;
         text-align: left;
    }
     .rating-section .fit-progressbar-bar .fit-progressbar-background {
         position: relative;
         height: 8px;
         background: #efeff0;
         -webkit-box-flex: 1;
         -ms-flex-positive: 1;
         flex-grow: 1;
         box-shadow: 0 1px 2px #ffffff;
         background-color: #ffffff;
        ;
         border-radius: 999px;
    }
     .rating-section .stars-counters tr .star-progress-bar .progress-fill {
         background-color: #ffb33e;
    }
     .rating-section .fit-progressbar-bar .progress-fill {
         background: #2cdd9b;
         background-color: rgb(29, 191, 115);
         height: 100%;
         position: absolute;
         left: 0;
         z-index: 1;
         border-radius: 999px;
    }
     .rating-section .fit-progressbar-bar {
         display: flex;
         align-items: center;
    }
     .rating-section .stars-counters td {
         white-space: nowrap;
    }
     .rating-section .stars-counters tr .progress-bar-container {
         width: 100%;
         padding: 0 10px 0 6px;
         margin: auto;
    }
     .ranking h6 {
         font-weight: 600;
         padding-bottom: 16px;
         text-align:right;
    }
     .ranking li {
         display: flex;
         justify-content: space-between;
         align-items: center;
         color: #ffffff;
         padding-bottom: 8px;
    }
     .rating-section .stars-counters td.star-num {
         color: #ffffff;
    }
     .rating-section {
         border-bottom: 1px solid #ffffff;
         padding-bottom: 20px;
         margin-bottom: 34px;
         padding-top: 64px;
    }

    .text1{
        padding-top: 2%;
        text-align: center;
        font-size: 15px;
    }

    .text-display-7, .m-0{
        color: #ffffff;
    }
/* END OF RATING */


/* TESTIMONIAL */
.heading{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 70px;
    position: relative;
    color: #454343;
    text-transform: uppercase;
    z-index: 999;
}

.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.explore-button{
    background-color: #dc143c;
    color: #ffffff;
    border-radius: 60px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}
.explore-button:hover{
    background-color:#FFD700;
    color: #000000;
}

.cta-second{
    text-align: center;
    align-items: center;
}

.motivational-text{
    margin-top: 5%;
    padding: 2%;
    background-color: #063970;
    color:#ffffff;
}

.booking-button{
    margin-top: 5px;
    border-radius: 60px;
    justify-content: center;
    cursor: pointer;
    font-size: 15px;
    color: #ffffff;
    background-color: #dc143c;
}

.booking-button:hover{
    background-color:#FFD700;
    color: #000000;
}


form{
    width: 400px;
    margin: 0 auto;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.last-section{
    margin: 5% 0 0 10%;
    display: flex;
    align-content:center;
    flex-direction: row;
    justify-content:space-around;
}